<!doctype html>
<html>
<head>
  <title>Instaladores</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
  <div class="banner">

    <div class="navbar">
      <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='styles/assets/logo_azul.png') }}" class="logo"></a>
      <ul>
        <li><a href="#">Agenda</a></li>
        <li><a href="#">Idioma</a></li>
        <li><a href="#">Ajuda</a></li>
      </ul>
    </div>

    <form action="/action_page.php">
      <label for="estados">Escolha um estado</label>
      <select id="estado" name="estado">
        <option value="None" selected></option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
      </select>
      <input type="submit">
    </form>
</body>

</html>