<!doctype html>
<html>

  <head>
    <title>ERRO!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  </head>

  <body>

    <div class="banner">
      
      <div class="navbar">
        <img src="{{ url_for('static', filename='styles/assets/logo_azul.png') }}" class="logo">
      </div>

      <div class="content">
        <h2>Page Not Found (404)</h2>
        <p>O que você procura não está aqui.
        <div>
          <button type="button"><span></span><a href="{{ url_for('common_routes.index') }}">Voltar ao início</a></button>
        </div>
      </div>

    </div>

  </body>
</html>