<!doctype html>
<html>

  <head>
    <title>4U-Net!</title>
    <link rel="stylesheet" href="static/styles/style.css">
  </head>

  <body>

    <div class="banner">
      
      <div class="navbar">
        <img src="static/styles/assets/logo_azul.png" class="logo">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>

      <div class="content">
        <h1>FIND OUT</h1>
        <p>the best internet provider for you</p>
        <div>
          <button type="button"><span></span><a href="{{ url_for('installers') }}">Instaladores</a></button>
          <button type="button"><span></span><a href="{{ url_for('clients') }}">Planos</a></button>
        </div>
      </div>

    </div>

  </body>
</html>