<!doctype html>
<html>

  <head>
    <title>4U-Net!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  </head>

  <body>

    <div class="banner">
      
      <div class="navbar">
        <img src="{{ url_for('static', filename='styles/assets/logo_azul.png') }}" class="logo">
        <ul>
          <li><a href="{{ url_for('common_routes.login') }}">Login</a></li>
          <li><a href="#">Idioma</a></li>
          <li><a href="#">Ajuda</a></li>
        </ul>
      </div>

      <div class="content">
        <h1>DESCUBRA</h1>
        <p>Os melhores planos e instaladores para você!</p>
        <div>
          <button type="button"><span></span><a href="{{ url_for('installers_routes.installers') }}">Instaladores</a></button>
          <button type="button"><span></span><a href="{{ url_for('plans_routes.choose_state') }}">Planos</a></button>
        </div>
      </div>

    </div>

  </body>
</html>