<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous"/>
    <title>4U-Net!</title>
  </head>
  <body>
    <p>Descrição da página.</p>
    <a href="{{ url_for('installers') }}" class='btn btn-primary'>Listar Instaladores</a>
    <a href="{{ url_for('clients') }}" class='btn btn-primary'>Listar Planos</a>
  </body>
</html>